.content-wrapper,
.right-side,
.main-footer {
    -webkit-transition: -webkit-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -moz-transition: -moz-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -o-transition: -o-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    transition: transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -webkit-transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -o-transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
    transition: margin-left .3s cubic-bezier(.32, 1.25, .375, 1.15);
    margin-left: 230px;
    z-index: 820
}

.layout-top-nav .content-wrapper,
.layout-top-nav .right-side,
.layout-top-nav .main-footer {
    margin-left: 0
}

@media (max-width:767px) {

    .content-wrapper,
    .right-side,
    .main-footer {
        margin-left: 0
    }
}

@media (min-width:768px) {

    .sidebar-collapse .content-wrapper,
    .sidebar-collapse .right-side,
    .sidebar-collapse .main-footer {
        margin-left: 0
    }
}

@media (max-width:767px) {

    .sidebar-open .content-wrapper,
    .sidebar-open .right-side,
    .sidebar-open .main-footer {
        -webkit-transform: translate(230px, 0);
        -ms-transform: translate(230px, 0);
        -o-transform: translate(230px, 0);
        transform: translate(230px, 0)
    }
}

.content-wrapper,
.right-side {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800
}

.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #eee
}

.fixed .main-header,
.fixed .main-sidebar,
.fixed .left-side {
    position: fixed
}

.fixed .main-header {
    top: 0;
    right: 0;
    left: 0
}

.fixed .content-wrapper,
.fixed .right-side {
    padding-top: 50px
}

@media (max-width:767px) {

    .fixed .content-wrapper,
    .fixed .right-side {
        padding-top: 100px
    }
}

.fixed.layout-boxed .wrapper {
    max-width: 100%
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.content-header {
    position: relative;
    padding: 15px 15px 0px 15px;
}


.form-control {
    border-radius: 5px;
    height: 40px;
}