<app-header></app-header>
<main class="top-spacing bottom-spacing">
  <div class="container"> <a class="back-button" href="profile.html"><img src="images/arrow-left.svg" alt=""></a></div>
  <div class="section-top-space login-section">
    <div class="container">
      <div class="form-container">
        <h2>How would you like us to communicate with you?</h2>
        <h2 class="regular">Don’t worry, we won’t spam you!</h2>
        <p class="description2 width1">We will use these communication channels to keep
          you updated on your subscription, offers, etc.</p>
        <form class="form">
          <div class="form-group p-0">
            <div class="custom-card">
              <div class="custom-checkbox">
                <input id="whatsApp" type="checkbox" name="" checked>
                <label for="whatsApp">WhatsApp</label>
              </div>
              <div class="icon"><img src="images/whatsapp.svg" alt=""></div>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-card">
              <div class="custom-checkbox">
                <input id="email" type="checkbox" name="" checked>
                <label for="email">Email</label>
              </div>
              <div class="icon"><img src="images/email.svg" alt=""></div>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-card">
              <div class="custom-checkbox">
                <input id="sms" type="checkbox" name="" checked>
                <label for="sms">SMS</label>
              </div>
              <div class="icon"><img src="images/sms.svg" alt=""></div>
            </div>
          </div>
          <div class="action-buttons button-bottom-fixed">
            <a class="custom-button custom-primary-button" href="free-trial-select-wire">Proceed</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>