$inter: 'Inter', sans-serif;
$source_sans_pro: 'Source Sans Pro', sans-serif;

$beige: #f5f5dc;
$very_dark_blue: #051D41;
$very_dark_blue2: #20395F;
$very_dark_blue_mostly_black: #1f2021;
$dark_moderate_blue: #2c4975;
$grayish_blue: #abb2bd;
$very_pale_blue: #F2F8FF;
$very_pale_blue2: #f6faff;
$white: #FFFFFF;
$very_soft_blue: #84a7da;
$very_soft_blue2: #bbceeb;
$light_grayish_blue: #D4E1F5;
$light_grayish_blue2: #E9EFF8;
$very_dark_grayish_blue: #494c50;
$dark_grayish_blue: #818790;
$very_light_gray: #ebebeb;
$very_dark_gray: #2d2d2d;
$dark_gray: #757575;
$very_light_gray: #f0f0f0;

$very_light_gray2: #f5f5f5;
$light_red: #ff5a5a;

// font-size
$fs-08: 0.8rem;
$fs-10: 1rem;
$fs-12: 1.2rem;
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-18: 1.8rem;
$fs-20: 2rem;
$fs-22: 2.2rem;
$fs-24: 2.4rem;
$fs-26: 2.6rem;
$fs-28: 2.8rem;
$fs-30: 3rem;
$fs-32: 3.2rem;
$fs-36: 3.6rem;
$fs-40: 4rem;
$fs-44: 4.4rem;
$fs-48: 4.8rem;
$fs-54: 5.4rem;
$fs-56: 5.6rem;
$fs-60: 6rem;
$fs-64: 6.4rem;
$fs-70: 7rem;

// font-weight
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium :500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;