@import "var";
@import url(media-1.css);

@media only screen and (min-width: 0px) and (max-width: 1280px) {

    .container-fluid,
    .container {
        padding: 0 60px;
    }

    .custom-radio {
        label {
            &.label-card-2 {
                .label-title {
                    font-size: $fs-24;
                    width: 180px;
                }
            }
        }
    }

    .why-section {
        #whySwiper {
            .swiper-slide {
                width: 372px;
            }
        }
    }

    .testimonial-section {
        #testimonialSwiper .swiper-slide {
            width: 372px;
        }
    }

    .selected-wire-list {
        &.style2 {
            .custom-card {
                flex-wrap: wrap;

                .selected-list-with-price {
                    width: 100%;
                    max-width: 400px;
                    padding-right: 0;
                }

                .select-package {
                    width: 100%;
                    padding-left: 0;
                    padding-top: 24px;
                    border-left: none;
                }
            }
        }
    }

    /*banner-section:start*/
    .banner-section {
        .banner-content {
            h1 {
                font-size: $fs-40;
                line-height: 133%;
            }
        }

        .desktop-banner-image {
            width: 50%;
            right: 0;
        }
    }

    /*banner-section:end*/
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {

    .container-fluid,
    .container {
        padding: 0 40px;
    }

    .description2 {
        font-size: $fs-16;
    }

    .topics-accordion {
        .custom-accordion-item {
            width: calc(100%/2 - 16px);
        }
    }

    .action-buttons {
        &.fixed-bottom {
            padding: 16px 40px;
        }
    }

    .news-list-section {
        width: 50%;
    }

    .news-list-container {
        padding: 40px 20px 40px 40px;

        .news-list {
            padding-right: 40px;
        }
    }

    .full-news-container {
        width: 50%;
    }

    /*banner-section:start*/
    .banner-section {
        .banner-content {
            h1 {
                font-size: $fs-36;
                line-height: 133%;
            }
        }

        .desktop-banner-image {
            width: 50%;
            right: 0;
            bottom: -100px;
        }
    }

    /*banner-section:end*/

    /*footer:start*/
    footer {
        .footer-top-container {
            height: 90px;

            h3 {
                font-size: $fs-28;
            }
        }

        .contact-links {
            li {
                padding-left: 24px;
                font-size: $fs-16;
            }
        }

        footer {
            .social-links {
                li {
                    padding-left: 24px;
                }
            }
        }

        .footer-bottom-container {
            height: 90px;
        }
    }

    /*footer:end*/
}

@media only screen and (min-width: 0px) and (max-width: 980px) {

    .select-wire {
        .custom-radio-inline {
            flex-wrap: wrap;

            .custom-radio {
                width: 100%;
            }
        }
    }

    .news-list-section {
        width: 100%;
    }

    .news-list {
        li {
            .nav-link {
                padding-right: 0;

                &.active {
                    box-shadow: none;
                }
            }
        }

        &.featured-news-list {
            li {
                .nav-link {
                    padding-right: 0;
                }

                &:first-child {
                    .nav-link {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    .full-news-container {
        display: none;
        width: 100%;
        padding: 16px 0 16px 16px;

        .custom-scroll {
            height: calc(100vh - 210px);
            padding-right: 16px;
        }
    }

    .news-details {
        .news-top-details {
            position: relative;

            .back-button {
                display: block;
                position: absolute;
                left: 0;
                width: 18px;
                top: 12px;
            }

            .actions {
                position: absolute;
                right: 16px;
                top: 0;

                .full-icon,
                .headphones-icon {
                    display: none;
                }
            }

            .news-tag {
                padding-top: 60px;
            }
        }

        .feedback-links {
            .custom-button {
                width: 100%;
            }
        }
    }


    .mobile-menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $very_dark_blue;
        border-radius: 16px 16px 0px 0px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 32px;
        z-index: 1056;

        li {
            a {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
                color: $very_soft_blue2;
                font-size: $fs-12;

                span {
                    display: block;
                }

                svg {
                    path {
                        fill: transparent;
                        stroke: $very_soft_blue2;
                    }
                }
            }

            &.active {
                svg {
                    path {
                        fill: transparent;
                        stroke: $white;
                    }
                }
            }
        }
    }

    /*banner-section:start*/
    .banner-section {
        .banner-content {
            padding-top: 40px;
            width: 100%;
        }

        .mobile-content-wrap {
            display: flex;
            position: relative;

            .content-wrap {
                width: 50%;
            }
        }

        .desktop-banner-image {
            display: none;
        }

        .mobile-banner-image {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 200px;
        }
    }

    /*banner-section:end*/

    /*featured-section:start*/
    .featured-section {
        margin-top: 140px;

        .featured-list {
            margin: -10px;
            width: calc(100% + 20px);

            .list {
                padding: 10px;
            }
        }
    }

    /*featured-section:end*/

    /*wire-list:start*/
    .wire-list {
        margin: 0 auto;
        width: 100%;
        max-width: 500px;

        .list {
            width: 100%;
            text-align: center;
            border-top: 1px solid #BBCEEB;
            padding: 50px 0;

            &:first-child {
                border: none;
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            .title-wrap {
                flex-direction: column;
                align-items: center;

                img {
                    margin: 0;
                }

                .title {
                    padding-top: 16px;
                }
            }

            p {
                width: 100%;
            }
        }
    }

    /*wire-list:end*/

    /*team-section:start*/
    .team-section {
        #teamSwiper {
            .swiper-slide {
                width: 328px;
            }
        }

        .custom-card {
            text-align: center;
            padding: 24px 12px;

            .name {
                font-size: $fs-24;
            }

            .bio {
                font-size: $fs-16;
            }
        }
    }

    /*team-section:end*/

    /*footer:start*/
    footer {
        .footer-top-container {
            height: auto;
            padding: 32px 0;
            flex-wrap: wrap;
        }

        .contact-links {
            flex-wrap: wrap;
            width: 100%;

            li {
                padding: 28px 0 0 0;
                width: 100%;
            }
        }

        .social-links {
            padding: 40px 0 0 0;
        }

        .footer-bottom-container {
            height: auto;
            padding: 32px 0;
            flex-wrap: wrap;

            .footer-links {
                width: 100%;
                flex-wrap: wrap;

                li {
                    width: 100%;
                    padding: 24px 0 0 0;
                    border: 0;

                    &:first-child {
                        padding-top: 0;
                    }

                    a {
                        color: $very_soft_blue;
                    }
                }
            }

            .copyright {
                width: 100%;
                padding-top: 40px;
                color: $very_soft_blue;
            }
        }
    }

    /*footer:start*/
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    body {
        font-size: $fs-14;

        &.body-bg-1 {
            background: $very_pale_blue;

            &::before,
            &::after {
                content: none;
            }
        }
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: flex !important;
    }

    .desktop-header-container {
        display: none;
    }

    .mobile-header-container {
        display: flex;
    }

    .back-button {
        width: 18px;
    }

    .container-fluid,
    .container {
        padding: 0 16px;
    }

    h2 {
        font-size: $fs-16;

        &.small {
            font-size: $fs-24;
            line-height: 142%;
        }

        &.section-heading {
            font-size: $fs-24;
            line-height: 34px;
        }
    }

    h3 {
        font-size: 16px;
        line-height: 150%;
    }

    .description {
        padding-top: 8px;

        &.small {
            font-size: $fs-16;
            line-height: 138%;
        }
    }

    .description2 {
        font-size: $fs-14;
    }

    .custom-button {
        font-size: $fs-16;
        height: 48px;

        &.mLeft {
            margin-left: 16px;
        }
    }

    header {
        padding: 0 16px;

        .logo {
            width: 96px;
        }
    }

    .header-container {
        .header-text {
            a {
                font-size: $fs-16;

                img {
                    max-width: 8px;
                    margin-left: 10px;
                }
            }
        }
    }

    .mobile-menu-dropdown {
        button {
            img {
                margin-left: 10px;
            }
        }

        .dropdown-menu {
            background: $very_dark_blue;
            width: 150px;
            padding: 10px;

            li {
                padding-top: 10px;

                &:first-child {
                    padding-top: 0;
                }
            }

            .dropdown-item {
                color: $white;
                font-size: $fs-16;
            }
        }
    }

    main {
        &.top-spacing {
            padding-top: 84px;
        }

        &.top-spacing-2 {
            padding-top: 60px;
        }

        &.extra-bottom-space-mobile {
            padding-bottom: 120px;
        }
    }

    .section-top-space {
        padding-top: 24px;
    }

    .login-section {
        h2 {
            font-size: $fs-28;
        }

        .form {
            padding-top: 32px;
        }

        .form-container {
            text-align: left;
        }

        .action-buttons {
            .custom-button {
                width: 100%;
            }
        }

        .custom-card {
            height: 55px;

            label {
                font-size: $fs-16;
                line-height: 20px;
            }

            .custom-checkbox {
                label {
                    padding-left: 30px;

                    &::before {
                        top: 0;
                    }

                    &::after {
                        top: 0;
                    }
                }
            }

            .icon {
                max-width: 18px;
            }
        }
    }

    .button-bottom-fixed {
        margin: 0;
        padding: 16px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        background-color: $white;
        box-shadow: -2px 0px 4px rgba(33, 56, 113, 0.1);

        .custom-button {
            width: 100%;
        }
    }

    .action-buttons {
        &.fixed-bottom {
            padding: 16px;
            border-radius: 0;
            justify-content: center;
            box-shadow: -2px 0px 4px rgba(33, 56, 113, 0.1);

            .custom-button {
                width: 100%;
            }
        }
    }

    .note {
        text-align: center;
        padding: 16px 40px;
        font-size: $fs-14;
    }

    .filter-desktop-note {
        display: none;
    }

    .filter-mobile-note {
        display: flex;
    }

    .form {
        .form-control {
            height: 52px;
            font-size: $fs-16;
        }

        .form-group {
            padding-top: 16px;
        }
    }

    .iti--separate-dial-code {
        .iti__selected-dial-code {
            font-size: $fs-16;
        }
    }

    .custom-radio {
        label {
            &.label-card {
                padding: 16px 60px 16px 48px;

                .label-title {
                    font-size: $fs-16;
                    line-height: 20px;
                }

                &::before,
                &::after {
                    top: 17px;
                }

                .action-btns {
                    margin-left: -32px;
                    margin-right: -32px;
                }
            }

            &.label-card-2 {
                height: 60px;
                padding: 0 12px 0 40px;
                background: $very_pale_blue;

                &::before,
                &::after {
                    left: 14px;
                    top: 20px;
                }

                .action-btns {
                    display: none;

                    .custom-button {
                        display: none;
                    }
                }

                .label-title {
                    font-size: $fs-20;
                    width: auto;

                    span {
                        font-weight: $regular;
                        font-size: $fs-14;
                    }
                }

                .label-description {
                    font-size: $fs-10;
                    text-align: right;
                }
            }
        }

        input[type="radio"] {

            &:checked,
            &:not(:checked) {
                position: absolute;
                left: -9999px;
            }

            &:checked {
                + {
                    label {
                        &.label-card-2 {
                            .action-btns {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .topsection {
        flex-wrap: wrap;

        .search-container {
            margin-top: 16px;
        }
    }

    .search-container {
        .form-control {
            height: 34px;
            font-size: 1.6rem;
            padding: 10px 10px 10px 28px;
        }
    }

    .form-control-wrap {
        .search-icon {
            width: 11px;
            left: 10px;
        }
    }

    .topics-accordion {
        .custom-accordion-item {
            width: calc(100% - 16px);
        }
    }

    .custom-accordion {
        .custom-accordion-button {
            font-size: $fs-16;
            line-height: 26px;
        }
    }

    .free-trial-summary-section {
        .action-buttons {
            flex-wrap: wrap;

            .custom-button {
                margin-left: 0;
                margin-bottom: 16px;
            }

            .text-link {
                text-decoration: none;
            }
        }
    }

    .free-trial-section {
        .action-buttons {
            flex-wrap: wrap;
            justify-content: center !important;

            .custom-button {
                margin-top: 16px;
            }

            .text-link {
                text-decoration: none;
            }
        }
    }

    /*selected-wire-list:start*/
    .selected-wire-list {
        margin-top: 24px;

        .main-title {
            font-size: $fs-16;

            i {
                max-width: 19px;
            }
        }

        &.style2 {
            .main-title {
                .price {
                    padding-right: 48px;
                }
            }

            .custom-card {
                padding: 0;
                background: none;
                box-shadow: none;

                .selected-list-with-price {
                    .final-calculation {
                        padding-left: 0;
                    }
                }

                .select-package {
                    h2 {
                        display: block;
                    }

                    .custom-radio {
                        margin-top: 24px;
                    }
                }
            }

            .selection-title {
                span {
                    &:first-child {
                        padding-left: 32px;
                    }
                }
            }
        }
    }

    /*selected-wire-list:end*/

    /*selected-topic-accordion:start*/
    .selected-topic-accordion {
        margin-left: 36px;

        >.accordion-item {
            padding: 7px 0;

            .accordion-header {
                font-size: $fs-14;

                >&::before {
                    top: 10px;
                }

                >&::after {
                    top: 8px;
                }

                &.active {
                    >&::after {
                        transform: rotate(180deg);
                    }
                }
            }

            .selected-topic-accordion {
                margin-left: 24px;

                .accordion-item {
                    padding: 6px 0;

                    .accordion-header {
                        font-size: $fs-12;

                        &::before {
                            top: 8px;
                        }

                        &::after {
                            top: 6px;
                        }
                    }

                    .accordion-content {
                        padding-left: 26px;

                        .sublist-level-one {
                            border-left: 1px solid $light_grayish_blue;

                            li {
                                font-size: $fs-12;

                                >&::before {
                                    top: 9px;
                                }
                            }
                        }
                    }
                }
            }

            .accordion-content {
                display: none;
                transition: all 0.20s ease;
            }
        }

        &.style2 {
            margin-left: 36px;

            >.accordion-item {
                padding: 7px 0;

                .accordion-header {
                    font-size: $fs-14;

                    .price {
                        padding-right: 48px;
                    }
                }

                .selected-topic-accordion {
                    .accordion-item {
                        padding: 6px 0;

                        .accordion-header {
                            font-size: $fs-12;
                        }
                    }
                }
            }
        }
    }

    .modal-dialog-centered {
        align-items: flex-end;
        height: 100%;
    }

    .modal-dialog {
        margin: 0;
    }

    #freeTrialModal {
        .modal-content {
            height: 100%;
        }
    }

    .modal.fade .modal-dialog {
        transform: translateY(100%);
    }

    .modal.show .modal-dialog {
        transform: translateY(0);
    }

    #notification.fade .modal-dialog {
        transform: translateY(0);
    }

    #notification.show .modal-dialog {
        transform: translateY(0);
    }

    #notification {
        margin-top: 60px;

        .custom-btn-close {
            right: auto;
            left: 16px;
            width: 18px;
        }

        .modal-dialog {
            margin-right: 0;
        }

        .modal-content {
            padding: 16px 0;
            border-radius: 0;

            h2 {
                padding: 30px 16px 0;
            }

            .modal-body {
                .filter-tabs {
                    padding-left: 16px;
                }

                .notification-list {
                    max-height: calc(100vh - 230px);
                    padding-right: 0;

                    .group {
                        padding: 16px;

                        &.highligtht {
                            border-radius: 0;
                            background: $light_grayish_blue;
                        }

                        .news-top-details {
                            .news-tag {
                                .tag {
                                    font-size: $fs-10;
                                }

                                .date {
                                    font-size: $fs-12;
                                }
                            }
                        }
                    }
                }
            }
        }

        h2 {
            font-size: $fs-20;
            line-height: 30px;
        }
    }


    .modal-content-style1 {
        padding: 32px 16px;

        h2 {
            font-size: $fs-24;
        }

        .illustrator {
            position: absolute;
            bottom: 90px;
            width: 100%;
        }

        .button-bottom-fixed {
            background: transparent;
            box-shadow: none;
        }
    }

    /*selected-topic-accordion:end*/

    /*modal-content-style2:start*/
    .modal-content-style2 {
        border-radius: 16px 16px 0px 0px;

        .custom-btn-close {
            right: 50%;
            width: 15px;
            margin-right: -8px;
        }

        .modal-body {
            padding: 56px 24px 24px;

            h2 {
                font-size: $fs-20;
            }

            .description {
                font-size: $fs-12;
                line-height: 18px;
            }

            .dd-cat-list {
                max-height: 300px;
                margin-top: 24px;
            }

            .title-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    font-size: $fs-16;
                    line-height: 26px;
                }
            }

            ul {
                li {
                    padding-top: 24px;

                    &:first-child {
                        padding-top: 0;
                    }

                    .custom-checkbox {
                        label {
                            font-size: $fs-16;
                        }
                    }
                }
            }

            .custom-tab-wrap {
                margin-right: -24px;
            }
        }

        .modal-footer {
            padding: 16px;

            p {
                color: $very_dark_blue;
                font-size: $fs-12;
                font-weight: $bold;
                padding-bottom: 12px;
            }
        }
    }

    /*modal-content-style2:end*/

    /*modal-content-style3:start*/
    .modal-content-style3 {
        border-radius: 8px 8px 0px 0px;

        .custom-btn-close {
            display: none;
        }

        h2 {
            font-size: $fs-20;
            line-height: 28px;
        }

        .modal-body {
            padding: 32px 16px 0;

            p {
                padding-top: 16px;
                font-size: $fs-14;
                line-height: 18px;
            }
        }

        .modal-footer {
            padding: 24px 16px;

            .text-link {
                font-size: $fs-16;
                text-decoration: none;
            }
        }
    }

    /*modal-content-style3:end*/

    /*final-calculation:start*/
    .final-calculation {
        .group {

            label,
            .price {
                font-size: $fs-16;
                line-height: 138%;
            }

            .price {
                padding-right: 0;
            }
        }
    }

    /*final-calculation:end*/

    /*why-section:start*/
    .why-section {
        #whySwiper {
            .swiper-slide {
                width: 304px;
                margin: 0 3px;
            }
        }

        .custom-card-2 {
            height: 205px;
            padding: 16px;
            align-items: center;

            .content {
                width: 142px;
            }

            h4 {
                font-size: $fs-16;
            }

            p {
                font-size: $fs-14;
                padding-top: 10px;
            }
        }
    }

    /*why-section:end*/

    /*testimonial-section:start*/
    .testimonial-section {
        #testimonialSwiper {
            .swiper-slide {
                width: 304px;
                margin: 0 3px;
            }
        }

        .custom-card {
            height: 248px;
        }
    }

    /*testimonial-section:end*/

    /*custom-accordion:start*/
    .faqs-accordion {
        .custom-accordion-item {
            background: none;
            box-shadow: none;
            border-top: solid 1px $grayish_blue;
            border-radius: 0;
            margin: 0;

            &:first-child {
                border: none;
            }
        }

        .custom-accordion-button {
            padding: 16px 0;

            &::after {
                top: 20px;
                right: 0;
                width: 15px;
                height: 9px;
            }
        }

        .accordion-body {
            padding: 0;
        }
    }

    /*custom-accordion:end*/

    /*news-panel:start*/
    .news-list-container {
        padding: 16px 0 16px 16px;

        .news-list {
            padding-right: 16px;
            height: calc(100vh - 190px);
            width: 100%;
            margin-left: 0;

            .news-date {
                span {
                    background: $very_pale_blue;
                }
            }
        }
    }

    .news-list {
        li {
            .nav-link {
                padding: 8px;

                .news-top-details {
                    padding-bottom: 12px;
                }

                .news-short-description {
                    padding-right: 10px;
                }

                &.highligtht {
                    &::before {
                        width: 100%;
                    }
                }
            }

            .time {
                font-size: $fs-12;
                line-height: 22px
            }

            .news-title {
                font-size: $fs-14;
                line-height: 22px
            }
        }

        &.featured-news-list {
            height: calc(100vh - 146px);

            li {
                &::after {
                    left: 0;
                    width: 100%;
                    background-color: $grayish_blue;
                    height: 1px;
                    border: none;
                }

                .nav-link {
                    padding: 20px 0;
                }
            }
        }

        &.digest-news-list {
            height: calc(100vh - 192px);
        }
    }

    .news-top-details {
        .news-tag {
            .tag {
                font-size: $fs-10;
                padding: 2px 8px;
            }
        }
    }

    .testimonial-text {
        padding-right: 0;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.03em;
    }

    /*news-panel:end*/

    /*pinned-news:start*/
    .pinned-news {
        padding: 0 16px;

        .cat-name {
            padding: 20px 0 0 16px;
            color: $very_dark_blue;
            letter-spacing: 0.04em;
            font-family: $inter;
            font-size: $fs-14;
            line-height: 18px;
            font-weight: $bold;
        }

        li {
            &::after {
                border: none;
                background: $dark_gray;
                height: 1px;
            }

            .nav-link {
                padding: 8px;
            }

            .time {
                color: $dark_grayish_blue;
                padding-right: 16px;
                font-size: $fs-14;
                line-height: 22px;
            }

            .news-title {
                font-size: $fs-14;
            }
        }

        .three-dots {
            position: absolute;
            right: 30px;
            top: 20px;
            cursor: pointer;
        }
    }

    /*pinned-news:start*/

    /*custom-tab-accordion:start*/
    .custom-tab-accordion>.custom-accordion-item {
        padding: 16px 0 0 0;
    }

    .custom-tab-accordion>.custom-accordion-item>.custom-accordion-header>.custom-accordion-button {
        font-size: $fs-16;

        .price {
            font-size: $fs-14;
        }
    }

    .custom-tab-accordion>.custom-accordion-item>.custom-accordion-collapse .accordion-body .custom-radio label {

        &::before,
        &::after {
            top: 2px;
        }

        .label-title {
            font-size: $fs-16;
            line-height: normal;
            display: block;
        }

        .label-description {
            font-size: $fs-12;
            line-height: 18px;
            display: block;
            color: #818791;
            margin-top: 4px;
        }
    }

    /*custom-tab-accordion:start*/


    /*customise-container-mobile:start*/
    .real-time-customise-page {
        .mobile-menu {
            display: none !important;
        }
    }

    .real-time-customise {
        .action-buttons {
            .custom-button {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .customise-container {
        display: none;
    }

    .customise-container-mobile {
        display: block;

        .icon-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 16px;

            .arrow {
                width: 18px;
            }
        }

        h2 {
            padding-top: 16px;
            font-size: $fs-20;
        }

        .title {
            font-size: $fs-20;
            font-weight: $bold;
            padding-bottom: 16px;
        }

        .customise-tab {
            margin-top: 16px;
        }

        .custom-tab-accordion>.custom-accordion-item {
            border-top: solid 1px $grayish_blue;
            padding: 8px;

            &:first-child {
                border-top: none;
                padding-top: 0;
            }
        }

        .custom-tab-accordion>.custom-accordion-item>.custom-accordion-header>.custom-accordion-button {
            font-size: $fs-16;
            font-weight: $bold;
        }

        .custom-tab-level2-accordion>.custom-accordion-item>.custom-accordion-collapse .accordion-body .custom-radio label {
            font-size: $fs-14;
            padding-top: 3px;
        }

        .custom-radio {
            label {
                &.label-card {
                    background: $white;
                    border-radius: 16px;
                    padding: 20px 24px;
                    display: flex;
                    justify-content: space-between;
                    height: 168px;

                    &::before,
                    &::after {
                        top: 20px;
                    }

                    img {
                        width: 78px;
                        margin-left: 20px;
                    }

                    .label-title-2 {
                        padding-top: 36px;
                        font-size: $fs-16;
                    }
                }
            }

            input[type="radio"] {
                &:checked {
                    + {
                        label {
                            &.label-card {
                                background: $very_soft_blue2;
                            }
                        }
                    }
                }
            }
        }

        .headline-options {
            background: $very_light_gray2;
            border-radius: 0px 0px 8px 8px;
            box-shadow: 0px 2px 4px rgba(33, 56, 113, 0.1);
            margin-top: -12px;
            position: relative;
            z-index: 2;
            padding: 20px 16px;
            display: none;

            .select-headline {
                margin-top: 20px;
                padding-top: 20px;
                border-top: solid 1px $grayish_blue;
                display: flex;
                justify-content: space-between;

                label {
                    font-size: $fs-14;
                    line-height: 18px;
                    color: $dark_moderate_blue;
                    width: 50%;
                }

                #dd-select-headlines-button {
                    width: 163px;
                }
            }

            .toggle-switch {
                .toggle {
                    .toggle-text {
                        font-size: $fs-14;
                    }
                }
            }
        }
    }

    .customise-tab {
        display: flex;
        justify-content: space-between;

        .nav-link {
            margin-left: 12px;
            border-bottom: 4px solid $light_grayish_blue;
            border-radius: 2px;
            font-size: $fs-12;
            line-height: 18px;
            letter-spacing: -0.02em;
            padding-bottom: 5px;
            color: $very_dark_blue;
            width: calc(100% / 3 - 12px);

            &:first-child {
                margin-left: 0;
            }

            &.active {
                border-color: $very_dark_blue;
                font-weight: $fs-12;
                font-weight: $bold;
            }
        }
    }

    .customise-tab-content {
        padding-top: 24px;
    }

    /*customise-container-mobile:end*/

    .select-paid-wire {
        .custom-card {
            flex-wrap: wrap;
            position: relative;

            .group {
                .icon {
                    position: absolute;
                    right: 24px;
                    top: 24px;
                    width: 32px;
                }
            }

            .action-btns {
                margin-top: 16px;
                margin-left: -16px;
                margin-right: -16px;
                width: calc(100% + 32px);

                .custom-button {
                    font-size: 1.6rem;
                    height: 48px;
                    width: 50%;
                }
            }
        }
    }

    /*banner-section:start*/
    .banner-section {
        .banner-content {
            padding-top: 32px;
            padding-bottom: 36px;

            h1 {
                font-size: $fs-24;
                line-height: 36px;
            }

            p {
                font-size: $fs-16;
                line-height: 24px;
            }

            .action-btns {
                padding-top: 32px;
            }

            .custom-primary-button {
                width: 160px;
                height: 48px;
                font-size: $fs-16;
            }
        }

        .mobile-banner-image {
            width: 120px;
            right: 20px;
        }
    }

    /*banner-section:end*/
    .section-spacing {
        padding: 60px 0;
    }

    /*featured-section:start*/
    .featured-section {
        margin-top: 0;

        .featured-list {
            margin: 0 auto;
            width: 100%;
            padding: 0;
            max-width: 280px;

            .list {
                width: 100%;
                padding: 48px 0 0 0;
                text-align: center;
                flex-wrap: wrap;

                .icon {
                    width: 50px;
                    margin: 0 auto;
                }

                .list-content {
                    padding: 20px 0 0 0;

                    h3 {
                        font-size: $fs-24;
                        line-height: 32px;
                    }

                    p {
                        font-size: $fs-16;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    /*featured-section:end*/

    /*wire-section:start*/
    .wire-section {
        h2 {
            text-align: center;
        }
    }

    .wire-list-section {
        margin-top: 8px;
        padding: 32px 0;
    }

    .wire-list {
        max-width: 304px;

        .list {
            padding: 32px 0;

            .title-wrap {
                img {
                    width: 50px;
                }

                .title {
                    font-size: $fs-24;
                    line-height: 32px;
                    padding-top: 12px;
                }
            }

            p {
                font-size: $fs-14;
                line-height: 22px;
                padding-top: 8px;

                &.price {
                    font-size: $fs-16;
                    padding-top: 24px;
                }
            }
        }
    }

    /*wire-section:end*/

    /*team-section:start*/
    .team-section {
        h2 {
            text-align: center;
        }

        #teamSwiper {
            .swiper-slide {
                width: 290px;
            }
        }

        .custom-card {
            height: auto;

            .bio {
                font-size: $fs-14;
                line-height: 22px;
            }
        }
    }

    /*team-section:end*/

    /*home-faq-section:start*/
    .home-faq-section {
        padding: 32px 0;
    }

    .home-faqs-accordion {
        .custom-accordion-button {
            padding-left: 0;

            &::after {
                width: 15px;
                height: 14px;
                top: calc(50% - 10px);
                right: 10px;
            }
        }

        .accordion-body {
            padding-left: 0;
        }
    }

    /*home-faq-section:end*/

    /*footer:start*/
    footer {
        .footer-top-container {
            h3 {
                font-size: $fs-24;
            }
        }

        .contact-links {
            li {
                img {
                    width: 20px;
                }
            }
        }

        .social-links {
            li {
                padding-left: 20px;
            }
        }
    }

    /*footer:end*/
}