<main class="top-spacing bottom-spacing-2">
    <div class="section-top-space login-section">
        <div class="container ">
            <div class="form-container">
                <h2>Forgot Password</h2>
                <p class=" description">Enter your email and we'll send you a link to reset your password..!!
                </p>
                <form class="form  pt-3" #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
                    <div class="form-group p-0">
                        <input type="email" id="username" [maxlength]="30" [(ngModel)]="username" class="form-control"
                            placeholder="Enter your Email" name="username" ngModel required>
                    </div>
                    <p class="text-danger">{{errorMessage}}</p>
                    <p class="text-primary" *ngIf="isSendMail">{{successMessage}} <a href="admin/admin-login"><u>ClickMe
                            </u> </a>
                        <span class="txt-dark">for
                            login
                        </span>
                    </p>
                    <div class="action-buttons button-bottom-fixed">
                        <button type="submit" class="custom-button custom-primary-button">Proceed</button> <br />

                    </div>
                </form>
            </div>

        </div>
    </div>
</main>