<div class="modal-header">
    <b>Update Password</b>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <main class="gradient-form" style="background-color: #FFF;">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-12">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div _ngcontent-ng-c847396273="" class="card-body">
                                <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)"
                                    class="form my-4 ng-untouched ng-pristine ng-invalid">
                                    <div _ngcontent-ng-c847396273="" class="row">
                                        <div _ngcontent-ng-c847396273="" class="col-md-12">
                                            <div _ngcontent-ng-c847396273="" class="form-group pt-2">
                                                <input type="password" id="old_password" [maxlength]="15"
                                                    [(ngModel)]="old_password" class="form-control my-2"
                                                    placeholder="Enter old password" name="old_password" ngModel
                                                    required>


                                            </div>
                                        </div>
                                        <div _ngcontent-ng-c847396273="" class="col-md-12">
                                            <div _ngcontent-ng-c847396273="" class="form-group pt-2"> <input
                                                    type="password" id="password" [maxlength]="15"
                                                    [(ngModel)]="password" class="form-control my-2"
                                                    placeholder="Enter new Password" name="password" ngModel required>

                                            </div>
                                        </div>
                                        <div _ngcontent-ng-c847396273="" class="col-md-12">
                                            <div _ngcontent-ng-c847396273="" class="form-group pt-2">
                                                <input type="password" id="confirm_password" [maxlength]="15"
                                                    [(ngModel)]="confirm_password" class="form-control my-2"
                                                    placeholder="Confirm your Password" name="confirm_password" ngModel
                                                    required>

                                            </div>
                                        </div>
                                    </div>
                                    <small _ngcontent-ng-c847396273="" class="text-danger">{{errorMessage |
                                        titlecase}}
                                    </small>
                                    <div _ngcontent-ng-c847396273="" class="text-center pt-1 my-2 mpb-1 row">
                                        <button _ngcontent-ng-c847396273="" type="submit" id="btnLogin"
                                            class="btb bg-primary bg-gradient text-white btn-block mb-3 mx-2 w-45 p-2 rounded">
                                            Update Password
                                        </button>
                                        <button _ngcontent-ng-c847396273="" type="reset"
                                            class="btb bg-danger bg-gradient text-white mx-2 btn-block mb-3 w-45 p-2 rounded">
                                            Reset
                                        </button>
                                    </div>
                                </form>
                                <div _ngcontent-ng-c847396273="" class="text-center"><input _ngcontent-ng-c847396273=""
                                        type="hidden" id="hdFieldP"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>