<main class="top-spacing bottom-spacing-2">
    <div class="login-section">
        <div class="container">
            <div class="form-container">
                <div *ngIf="!showLoginForm" class="">
                    <form class="form" #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">
                        <h2>Update Password..!!</h2>

                        <div class="form-group p-0">
                            <input type="password" id="oldpassword" [maxlength]="15" [(ngModel)]="oldpassword"
                                class="form-control my-3" placeholder="Enter old password" name="oldpassword" ngModel
                                required>

                            <input type="password" id="newpassword" [maxlength]="15" [(ngModel)]="newpassword"
                                class="form-control my-3" placeholder="Enter new Password" name="newpassword" ngModel
                                required>

                            <input type="password" id="confirmpassword" [maxlength]="15" [(ngModel)]="confirmpassword"
                                class="form-control my-3" placeholder="Confirm your Password" name="confirmpassword"
                                ngModel required>
                            <b *ngIf="errorMessage" class="error-message text-danger">{{ errorMessage }}</b>
                        </div>
                        <div class="action-buttons ">
                            <button type="submit" class="custom-button custom-primary-button">Update</button> <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>