<app-header></app-header>
<main class="top-spacing bottom-spacing">
  <div class="container"><a class="back-button" href="free-trial-select-wire"><img src="assets/images/arrow-left.svg"
        alt=""></a></div>
  <div class="section-top-space free-trial-section">
    <div class="container">
      <div class="topsection">
        <div class="heading-wrap">
          <h2>Commodity Wire</h2>
          <p class="description small">Select your topics of interest</p>
        </div>
        <div class="search-container">
          <div class="form-control-wrap">
            <input class="form-control" type="search" name="search" placeholder="Search">
            <img class="search-icon" src="assets/images/search.svg" alt="">
          </div>
        </div>
      </div>
      <div class="custom-accordion topics-accordion" id="topic_list">
        <div class="custom-accordion-item">
          <div class="custom-accordion-header" id="topic_heading_1">
            <button class="custom-accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#topic_collapse_1" aria-expanded="true" aria-controls="topic_collapse_1">
              <div class="custom-checkbox">
                <input id="agriculturalProducts" type="checkbox" name="topics" checked>
                <label for="agriculturalProducts">Agricultural products</label>
              </div>
            </button>
          </div>
          <div id="topic_collapse_1" class="custom-accordion-collapse collapse show" aria-labelledby="topic_heading_1">
            <div class="custom-scroll custom-accordion-body">
              <ul class="main-dropdown-list">
                <li>
                  <div class="custom-checkbox">
                    <input id="agriculturalProductsAll" type="checkbox" name="" class="all-checkbox" checked>
                    <label for="agriculturalProductsAll" class="bold">All</label>
                  </div>
                </li>
                <li class="has-sublist">
                  <div class="list-title">
                    <div class="custom-checkbox">
                      <input id="cereals" type="checkbox" name="" class="has-sublist-checkbox">
                      <label for="cereals">Cereals</label>
                    </div>
                    <div class="arrow"><img src="assets/images/arrow-down-dd.svg" alt=""></div>
                  </div>
                  <ul class="sublist-level-one">
                    <li>
                      <div class="custom-checkbox">
                        <input id="cerealsAll" type="checkbox" name="" class="all-checkbox-sublist-level-one">
                        <label for="cerealsAll" class="bold">All</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="arhar" type="checkbox" name="">
                        <label for="arhar">Arhar</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="bajra" type="checkbox" name="">
                        <label for="bajra">Bajra</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="barley" type="checkbox" name="">
                        <label for="barley">Barley</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="buckWheat" type="checkbox" name="">
                        <label for="buckWheat">Buck Wheat</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="blackRice" type="checkbox" name="">
                        <label for="blackRice">Black Rice</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="chanaDal" type="checkbox" name="">
                        <label for="chanaDal">Chana Dal</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="chanaWhole" type="checkbox" name="">
                        <label for="chanaWhole">Chana Whole</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="foxtailMillet" type="checkbox" name="">
                        <label for="foxtailMillet">Foxtail Millet</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="horseGram" type="checkbox" name="">
                        <label for="horseGram">Horse Gram</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="jowar" type="checkbox" name="">
                        <label for="jowar">Jowar</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="kabuliChana" type="checkbox" name="">
                        <label for="kabuliChana">Kabuli Chana</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-sublist">
                  <div class="list-title">
                    <div class="custom-checkbox">
                      <input id="foodGrains" type="checkbox" name="" class="has-sublist-checkbox">
                      <label for="foodGrains">Food Grains</label>
                    </div>
                    <div class="arrow"><img src="assets/images/arrow-down-dd.svg" alt=""></div>
                  </div>
                  <ul class="sublist-level-one">
                    <li>
                      <div class="custom-checkbox">
                        <input id="foodGrains_cerealsAll" type="checkbox" name=""
                          class="all-checkbox-sublist-level-one">
                        <label for="foodGrains_cerealsAll" class="bold">All</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="foodGrains_arhar" type="checkbox" name="">
                        <label for="foodGrains_arhar">Arhar</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="foodGrains_bajra" type="checkbox" name="">
                        <label for="foodGrains_bajra">Bajra</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="foodGrains_barley" type="checkbox" name="">
                        <label for="foodGrains_barley">Barley</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="foodGrains_buckWheat" type="checkbox" name="">
                        <label for="foodGrains_buckWheat">Buck Wheat</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="foodGrains_blackRice" type="checkbox" name="">
                        <label for="foodGrains_blackRice">Black Rice</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="foodGrains_chanaDal" type="checkbox" name="">
                        <label for="foodGrains_chanaDal">Chana Dal</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="foodGrains_chanaWhole" type="checkbox" name="">
                        <label for="foodGrains_chanaWhole">Chana Whole</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="foodGrains_foxtailMillet" type="checkbox" name="">
                        <label for="foodGrains_foxtailMillet">Foxtail Millet</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="foodGrains_horseGram" type="checkbox" name="">
                        <label for="foodGrains_horseGram">Horse Gram</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="foodGrains_jowar" type="checkbox" name="">
                        <label for="foodGrains_jowar">Jowar</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="foodGrains_kabuliChana" type="checkbox" name="">
                        <label for="foodGrains_kabuliChana">Kabuli Chana</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-sublist">
                  <div class="list-title">
                    <div class="custom-checkbox">
                      <input id="fruits" type="checkbox" name="" class="has-sublist-checkbox">
                      <label for="fruits">Fruits</label>
                    </div>
                    <div class="arrow"><img src="assets/images/arrow-down-dd.svg" alt=""></div>
                  </div>
                  <ul class="sublist-level-one">
                    <li>
                      <div class="custom-checkbox">
                        <input id="fruits_all" type="checkbox" name="" class="all-checkbox-sublist-level-one">
                        <label for="fruits_all" class="bold">All</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="apples" type="checkbox" name="">
                        <label for="apples">Apples</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="pears" type="checkbox" name="">
                        <label for="pears">Pears</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-sublist">
                  <div class="list-title">
                    <div class="custom-checkbox">
                      <input id="vegetables" type="checkbox" name="" class="has-sublist-checkbox">
                      <label for="vegetables">Vegetables</label>
                    </div>
                    <div class="arrow"><img src="assets/images/arrow-down-dd.svg" alt=""></div>
                  </div>
                  <ul class="sublist-level-one">
                    <li>
                      <div class="custom-checkbox">
                        <input id="vegetables_all" type="checkbox" name="" class="all-checkbox-sublist-level-one">
                        <label for="vegetables_all" class="bold">All</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="tomato" type="checkbox" name="">
                        <label for="tomato">Tomato</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="green_peas" type="checkbox" name="">
                        <label for="green_peas">Green peas</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-sublist">
                  <div class="list-title">
                    <div class="custom-checkbox">
                      <input id="oilseeds" type="checkbox" name="" class="has-sublist-checkbox">
                      <label for="oilseeds">Oilseeds</label>
                    </div>
                    <div class="arrow"><img src="assets/images/arrow-down-dd.svg" alt=""></div>
                  </div>
                  <ul class="sublist-level-one">
                    <li>
                      <div class="custom-checkbox">
                        <input id="oilseeds_all" type="checkbox" name="" class="all-checkbox-sublist-level-one">
                        <label for="oilseeds_all" class="bold">All</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="coconut" type="checkbox" name="">
                        <label for="coconut">Coconut</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="sunflower" type="checkbox" name="">
                        <label for="sunflower">Sunflower</label>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-sublist">
                  <div class="list-title">
                    <div class="custom-checkbox">
                      <input id="miscellaneous" type="checkbox" name="" class="has-sublist-checkbox">
                      <label for="miscellaneous">Miscellaneous</label>
                    </div>
                    <div class="arrow"><img src="assets/images/arrow-down-dd.svg" alt=""></div>
                  </div>
                  <ul class="sublist-level-one">
                    <li>
                      <div class="custom-checkbox">
                        <input id="miscellaneous_all" type="checkbox" name="" class="all-checkbox-sublist-level-one">
                        <label for="miscellaneous_all" class="bold">All</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="sugars" type="checkbox" name="">
                        <label for="sugars">Sugars</label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-checkbox">
                        <input id="oils" type="checkbox" name="">
                        <label for="oils">Oils</label>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="custom-accordion-item">
          <div class="custom-accordion-header" id="topic_heading_2">
            <button class="custom-accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#topic_collapse_2" aria-expanded="false" aria-controls="topic_collapse_2">
              <div class="custom-checkbox">
                <input id="baseMetals" type="checkbox" name="topics" checked>
                <label for="baseMetals">Base Metals</label>
              </div>
            </button>
          </div>
          <div id="topic_collapse_2" class="custom-accordion-collapse collapse" aria-labelledby="topic_heading_2">
            <div class="custom-accordion-body"></div>
          </div>
        </div>
        <div class="custom-accordion-item">
          <div class="custom-accordion-header" id="topic_heading_3">
            <button class="custom-accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#topic_collapse_3" aria-expanded="false" aria-controls="topic_collapse_3">
              <div class="custom-checkbox">
                <input id="preciousMetals" type="checkbox" name="topics" checked>
                <label for="preciousMetals">Precious Metals</label>
              </div>
            </button>
          </div>
          <div id="topic_collapse_3" class="custom-accordion-collapse collapse" aria-labelledby="topic_heading_3">
            <div class="custom-accordion-body"></div>
          </div>
        </div>
        <div class="custom-accordion-item">
          <div class="custom-accordion-header" id="topic_heading_4">
            <button class="custom-accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#topic_collapse_4" aria-expanded="false" aria-controls="topic_collapse_4">
              <div class="custom-checkbox">
                <input id="energy" type="checkbox" name="topics" checked>
                <label for="energy">Energy</label>
              </div>
            </button>
          </div>
          <div id="topic_collapse_4" class="custom-accordion-collapse collapse" aria-labelledby="topic_heading_4">
            <div class="custom-accordion-body"></div>
          </div>
        </div>
      </div>

      <div class="action-buttons fixed-bottom justify-content-end">
        <a href="free-trial-summary" class="custom-button custom-primary-button mt-0">Done</a>
      </div>
    </div>
  </div>
</main>