<app-header></app-header>
<main class="top-spacing bottom-spacing-2">
  <div class="container">
    <a class="back-button" href="login"><img src="assets/images/arrow-left.svg" alt=""></a>
  </div>
  <div class="section-top-space login-section">
    <div class="container ">
      <div class="form-container">
        <h2>Forgot Password</h2>
        <p class=" description">Enter your email/mobile no. and we'll send you a link to reset your password..!!</p>
        <form class="form  pt-3" #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
          <div class="form-group p-0">
            <input type="email" id="username" [maxlength]="30" [(ngModel)]="username" class="form-control"
              placeholder="Enter your Email / Mobile no." name="username" ngModel required>
          </div>
          <p class="text-danger">{{errorMessage}}</p>
          <p class="text-primary" *ngIf="isSendMail">{{successMessage}} <a href="login"><u>ClickMe </u> </a> <span
              class="txt-dark">for
              login
            </span>
          </p>
          <div class="action-buttons button-bottom-fixed">
            <button type="submit" class="custom-button custom-primary-button">Proceed</button> <br />

          </div>
        </form>
      </div>

      <!-- <div class="modal fade" id="earning_season" #successModal [ngClass]="{'show': showSuccessModal}"
        [style.display]="showSuccessModal ? 'block' : 'none'" tabindex="-1" role="dialog"
        [attr.aria-hidden]="!showSuccessModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content modal-content-style3">
            <button type="button" class="custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
              <img src="images/close2.svg" alt="">
            </button>
            <div class="modal-body">
              <h2>
                Congratulations! Your registration is completed. Welcome to our platform!
              </h2>
              <p>Login now to get your free trial!</p>
            </div>
            <div class="modal-footer">
              <a type="button" class="custom-button custom-primary-button" href="login">
                Login
              </a>
              <a href="/" class="text-link" data-bs-dismiss="modal">Maybe Later</a>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</main>