@media only screen and (min-width: 1200px) {


    .f-lg-right {
        float: right !important;
    }

    .f-left {
        float: left !important;
    }

    .form {
        max-width: 450px;
        margin-top: 20px;
        border: 1px solid #d6d6d6;
        padding: 2.0rem 2.0rem;
        box-shadow: 5px 10px 10px #f1f1f1;
        border-radius: 15px;

    }



    .form h2 {
        margin: 2rem auto 3.5rem;
    }

    .form-control {
        height: 50px;
        margin-top: 10px;
        width: 98% !important;
    }
}

.verify-input {
    background: #FFFFFF;
    border: 1px solid #000;
    border-radius: 3px;
    color: #000;
    font-weight: 500;
    width: 50%;
    float: left;
    font-size: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
    padding: 16px;
}

.verify-input:disabled {
    background-color: #f1f1f1;
}


.success-input {
    background-color: rgb(88, 255, 152);
    color: #fff;

}

.failed-input {
    background-color: rgb(255, 127, 127);
    color: #fff;
}


.title-logo {
    font-size: 1.8rem;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #FFF;

    /* Chrome 10-25, Safari 5.1-6 */
    background: #152377;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #152377;
}

.gradient-custom-2 h4 {
    font-size: 3.0rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}


.w-95 {
    width: 95% !important;
}

.col {
    margin: 0;
    padding: 0;
}