<main class="top-spacing bottom-spacing-2">
    <div class="section-top-space login-section">
        <div class="container">
            <div class="form-container col-lg-4">
                <h2>Reset Password</h2>
                <p class=" description">Reset your password..!!</p>
                <form class="form  pt-3" #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
                    <div class="form-group p-0 position-relative">
                        <input type="{{ showPassword ? 'text' : 'password' }}" id="password" [(ngModel)]="password"
                            class="form-control" placeholder="Enter New Password" name="password" required>
                        <i class="fa" [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"
                            (mousedown)="startTimeout()" (mouseup)="clearTimeout()" (mouseleave)="clearTimeout()"></i>
                    </div>
                    <div class="form-group p-0 mt-4">
                        <input type="password" id="confirm_password" [(ngModel)]="confirm_password" class="form-control"
                            placeholder="Confirm Password" name="confirm_password" ngModel required>
                    </div>
                    <p class="text-danger">{{errorMessage}}</p>
                    <p class="text-success">{{successMessage}}</p>
                    <div class="action-buttons button-bottom-fixed">
                        <button type="submit" class="custom-button custom-primary-button">Proceed</button> <br />

                    </div>
                </form>


            </div>
        </div>
    </div>
</main>